.sign-in-title{
    color: var(--primary)
}

.sign-in-body{
    background: radial-gradient(#f3a354b3, #33FF8201);
}

.bg-blur{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(255, 255, 255, 0.65);
}

.sign-background{
    background: url("/src/assets/images/thumb_welcome.svg") no-repeat center;
}


